PORT=3000
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/ecobot
MQTT_BROKER=mqtt://192.168.1.120:1883
MQTT_DATA_TOPIC=ecobot/robot01/data
MQTT_COMMAND_TOPIC=ecobot/robot01/command
MQTT_CLIENT_ID=ECOBOT_NODE_BACKEND
MQTT_DEVICE_ID=ESP32_ROBOT_01